/**
 * @file
 * Stylesheet for the Content label editor
 */


table.field-ui-overview input.field-edit-label
{
	width: initial;
	color: #000;
	padding: 3px 0px; 
	float: left;	
}
 
table.field-ui-overview input.field-edit-label.group
{
	font-weight: bold;
	padding: 3px 0;
}
 
table.field-ui-overview input[readonly].field-edit-label
{
	border:1px solid transparent;
	background:none;
	color: #000;
	padding: 3px 0;
}

